body {
  background: #9b9898;
  align-items: center;
  text-align: center;
  margin: 1% 10%;
  font-size: 1.5rem;
}

h1 {
  color: rgb(221, 203, 176);
}

hr {
  margin: 0;
}

.form-floating label {
  font-size: 1.1rem;
}

div.player,
div.life,
div.poison,
div.life-calc {
  border: 1px rgb(170, 170, 170) solid;
}

.main {
  background-color: rgb(121, 107, 94);
  margin: auto;
  border: 1px solid black;
  max-width: 800px;
}

.top-button-row {
  margin-bottom: 10px;
}

/* PLAYER TITLE SECTION  */
.player,
.game-time {
  background-color: #504c4c;
  color: #fff;
  margin-bottom: 0;
}

/* LIFE TOTAL SECTION*/
.life {
  background-color: #fff;
  height: 300px;
}

.life-count {
  margin: 60px 0 0 0;
  font-size: 5.5rem;
}

/* POISON SECTION */
.poison {
  background-color: rgb(217, 223, 221);
}

/* LIFE CALCULATOR SECTION  */
.life-calc {
  background-color: rgb(238, 229, 228);
}

.heart {
  font-size: 2.5rem;
  color: rgb(206, 82, 82);
}

.heart:hover {
  color: rgb(148, 88, 88);
}

.results {
  font-size: 3rem;
  height: 4.5rem;
}
