body {
  background: #9b9898;
  align-items: center;
  text-align: center;
  margin: 1% 10%;
  font-size: 1.5rem;
}

h1 {
  color: rgb(221, 203, 176);
}

hr {
  margin: 0;
}

div.player,
div.poison,
div.life-calc {
  border: 1px rgb(170, 170, 170) solid;
}

#about {
  text-align: left;
}

.about-font {
  font-size: 1.2rem;
}

.btn:active {
  transform: scale(0.85);
  /* to show a "pressed" effect */
}

.btn {
  box-shadow: none !important  ;
  /* getting rid of those bootstrap button shadows */
}

/* TITLE AND BUTTONS */
.main {
  background-color: rgb(121, 107, 94);

  margin: auto;
  border: 1px solid black;
  max-width: 800px;
}

.form-floating label {
  font-size: 1.1rem;
}

.top-button-row {
  margin-bottom: 10px;
}

/* PLAYER NAME SECTION  */
.player,
.bottom {
  background-color: #504c4c;
  color: #fff;
  margin: 0;
}

/* LIFE TOTAL SECTION*/
.life,
.life-history {
  background-color: #fff;
  height: 260px;
  border: none;
}

div.life {
  border-right: 1px rgb(170, 170, 170) solid;
}

.offset {
  padding-right: 80px;
  background-color: #fff;
}

.life-history-scroll {
  position: absolute;
  overflow-y: scroll;
  max-height: 220px;
  font-size: 1.1rem;
  margin-left: 0;
}

.life-count {
  margin: 25px 0 0 0;
  font-size: 5.5rem;
}

/* POISON SECTION */
.poison {
  background-color: rgb(217, 223, 221);
}

.psn-down:hover,
.psn-up:hover {
  color: rgb(31, 170, 31);
}

/* LIFE CALCULATOR SECTION  */
.life-calc {
  background-color: rgb(238, 229, 228);
}

.heart {
  font-size: 2.5rem;
  color: rgb(206, 82, 82);
}

.heart:hover {
  color: rgb(148, 88, 88);
}

/* TIMER AND WINNER SECTION  */
.game-time {
  font-size: 3rem;
}

.results {
  font-size: 2rem;
  height: 3.5rem;
}

.save-button {
  margin-bottom: 20px;
}
